numpy
pandas
xarray
netCDF4
h5py
Pillow
satpy
pyresample
scikit-learn
tensorflow==2.15.0
requests
openmeteo-requests
streamlit
plotly
folium
streamlit-folium
python-dotenv
tqdm
requests_cache
retry_requests